.rating-stars {
    display: inline-block;
    margin-left: 0;
}

.star {
    font-size: 24px;
    color: #ccc;
    margin-right: 2px;
}

.filled {
    color: #f5a623;

}

.half-filled {
    position: relative;
}

.half-filled::before {
    content: "\2605";
    font-size: 14px;
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
    color: #f5a623;
}